.container {
    display: grid;
    grid-template: repeat(4, 1fr) / repeat(5, 1fr);
    /*display: flex;
    flex-direction: row;
    flex-wrap: wrap;*/
    list-style: none;
    gap: 20px;
}

.card {
    background-color: rgba(170, 59, 255, 0.1);
    border: solid 1px rgba(170, 59, 255, 0.5);
}

h3 {
    margin: 0;
}