.cartPage {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.emptyCart{
    font-size: 2rem;
    font-weight: 700;
    color: rgb(156, 163, 175);
}

.cardList{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
}

.card {
    background-color: rgba(170, 59, 255, 0.1);
    border: solid 1px rgba(170, 59, 255, 0.5);
    padding: 5px;
    width: 800px;
    display: grid;
    grid-template: 1fr / 100px 500px 150px;
    gap: 20px;
    justify-items: start;
    align-items: center;
}

.cardImg {
    height: 100px;
    width: 80px;
    object-fit: contain;
    justify-self: center;
}

.cardBtn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.btn {
    padding: 2px;
    height: 25px;
    width: 25px;
}

.deleteBtn {
    composes: btn;
    background-color: red;
}